<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aleksey Blog</a></h1>
        </div>

        <div>
            <p>published: 14.09.2019, 21:49</p>
            <h2><a href="">мой день</a></h2>
            <p>встал в 6.20  . Поцеловал свою девушку, которая мила спала в спальне. Дальше пошел на кухню. 8 утра покушал.<p>
        </div>

        <div>
            <p>published: 14.09.2019, 21:49/p>
            <h2><a href="">Продолжение дня</a></h2>
            <p>В течении дня я валял дурака, а ближе к 17.00 занялся программированием. И вот сейчас на часах 20.27 и я создал свой первый сайт на python с использованием фреймворка Django<p>
        </div>
    </body>
</html>
